<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href = "emp_add";
}

</script>
</head>
<body>

<table border="1px">
	<tr>
		<td>사번</td>
		<td>이름</td>
		<td>성별</td>
		<td>주소</td>
	</tr>
{% for e in list %}
	<tr>
		<td><a href="emp_detail?e_id={{e.e_id}}">{{e.e_id}}</a></td>
		<td>{{e.e_name}}</td>
		<td>{{e.sex}}</td>
		<td>{{e.addr}}</td>
	</tr>
{% endfor %}
</table>
<input type="button" value="추가" onclick="fn_add()"  />


</body>
</html>